{% load static %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<!-- Use the .htaccess and remove these lines to avoid edge case issues.
			 More info: h5bp.com/b/378 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block outertitle %}{% block title %}{% endblock %} | Imperial Cinema Staff Area{% endblock %}</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="humans.txt">

	<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

	<!-- Facebook Metadata /-->
	<meta property="fb:page_id" content="" />
	<meta property="og:image" content="" />
	<meta property="og:description" content=""/>
	<meta property="og:title" content=""/>

	<!-- Google+ Metadata /-->
	<meta itemprop="name" content="">
	<meta itemprop="description" content="">
	<meta itemprop="image" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<!-- We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
		 However, there is a blank style.css in the css directory should you prefer -->
	<link rel="stylesheet" href="{% static "css/gumby.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	{% block extracss %}{% endblock %}

	<script src="{% static "js/libs/modernizr-2.6.2.min.js" %}"></script>
	{% block extraheadjs %}{% endblock %}
</head>

<body>

	<div class="navcontain">
		<div class="navbar" gumby-fixed="top" id="nav">
			<div class="row">
				<a class="toggle" gumby-trigger="#nav > .row > ul" href="#"><i class="icon-menu"></i></a>
				<h1 class="four columns logo">
					<a href="/">
						<img src="{% static "img/logocrop.png" %}" />
					</a>
				</h1>
				<ul class="eight columns">
					<li class="active">
						<a href="/">Staff</a>
						<div class="dropdown">
							<ul>
								<li><a href="/ticketing/">Ticketing</a></li>
								<li><a href="/cinbin/">CinBin</a></li>
								<li><a href="/stats/">Stats</a></li>
								<li><a href="/inventory/">Inventory</a></li>
								<li><a href="/admin/">Admin</a></li>
							</ul>
						</div>
					</li>
					<li><a href="https://www.union.ic.ac.uk/arts/cinema/">Web</a></li>
					<li><a href="https://eactivities.union.ic.ac.uk/">eActivities</a></li>
					<li><a href="https://wiki.wide.icucinema.co.uk">Wiki</a></li>
					<li><a href="https://trac.wide.icucinema.co.uk">Trac</a></li>
					<li><a href="https://cloud.wide.icucinema.co.uk">Cloud</a></li>
					{% if not user.is_authenticated %}
						<li><a href="{% url 'auth:login' %}">Log in</a></li>
					{% else %}
						<li>
							<a href="/">{{ user.username }}</a>
							<div class="dropdown">
								<ul>
									<li><a href="{% url 'auth:logout' %}?token={{ request.session.logout_token }}">Log out</a></li>
								</ul>
							</div>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

	{% block head %}
	{% endblock %}

	{% if messages %}
	<div class="row row-margin">
		<div class="twelve columns">
			{% for message in messages %}
				<li class="{{ message.tags }} alert">
					{{ message }}
				</li>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	{% block content %}
	{% endblock content %}


	<!-- Grab Google CDN's jQuery, fall back to local if offline -->
	<!-- 2.0 for modern browsers, 1.10 for .oldie -->
	<script>
	var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
	if(!oldieCheck) {
	document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" %}"><\/script>');
	} else {
	document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" %}"><\/script>');
	}
	</script>
	<script>
	if(!window.jQuery) {
	if(!oldieCheck) {
	  document.write('<script src="{% static "js/libs/jquery-2.0.2.min.js" %}"><\/script>');
	} else {
	  document.write('<script src="{% static "js/libs/jquery-1.10.1.min.js" %}"><\/script>');
	}
	}
	</script>

	<script src="{% static "js/libs/gumby.min.js" %}"></script>
	<script src="{% static "js/plugins.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
	{% block extrafootjs %}{% endblock %}

  </body>
</html>
