<header id="icu-header" style=""><div class="icu-header-row">
	<h1 class="icu-header-four-logo icu-header-column">
		<a href="/">
			<img src="//staff.wide.icucinema.co.uk/static/img/logocrop.png">
		</a>
	</h1>
	<ul class="icu-header-eight-nav icu-header-column">
		<li>
			<a href="https://staff.wide.icucinema.co.uk/">Staff</a>
			
		</li>
		<li><a href="https://www.union.ic.ac.uk/arts/cinema/">Web</a></li>
		<li><a href="https://eactivities.union.ic.ac.uk/">eHarmonies</a></li>
		<li><a href="http://wiki.wide.imperialcinema.co.uk">Wiki</a></li>
		<li><a href="http://trac.wide.imperialcinema.co.uk">Trac</a></li>
		<li><a href="http://cloud.wide.imperialcinema.co.uk">Cloud</a></li>
		<li><a href="https://staff.wide.icucinema.co.uk/user/login/">Log in</a></li>
	</ul>
</div></header>
