{% extends "stats/base.html" %}

{% block stats %}
	<h2>{{ title }}</h2>
	<table class="{% if grouped %}grouped{% endif %} report">
		{% if head %}
		<thead>
			<tr>
				{% for headdata, headclass in head %}
					<th class="{{ headclass }}">{{ headdata }}</th>
				{% endfor %}
			</tr>
		</thead>
		{% endif %}
		<tbody>
		{% if grouped %}
			{% for group in dataset %}
				<tr class="titlerow">
					{% for ghead in group.headings %}
						<td>{{ ghead }}</td>
					{% endfor %}
				</tr>
				{% for data in group.data %}
					<tr class="datarow">
						{% for datum in data %}
							<td>{{ datum }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			{% endfor %}
		{% else %}
			{% for data in dataset %}
				<tr>
					{% for datum in data %}
						<td>{{ datum }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		{% endif %}
		</tbody>
		{% if foot %}
		<tfoot>
			<tr> 
				{% for footdata in foot %}
					{% if footdata %}
						<td>{{ footdata }}</td>
					{% else %}
						<td>&nbsp;</td>
					{% endif %}
				{% endfor %}
			</tr>
		</tfoot>
		{% endif %}
	</table>
{% endblock %}

{% block extrafootjs %}
<script>
(function() {
	var titlerows = document.querySelectorAll("table.grouped tbody tr.titlerow");
	console.log(titlerows);
	for (var i = 0; i < titlerows.length; i++) {
		var titlerow = titlerows[i];
		titlerow.addEventListener('click', (function(titlerow) {
			var applicableRows = [];
			var elem = titlerow;
			while (true) {
				elem = elem.nextElementSibling;
				if (!elem || !elem.classList.contains('datarow')) break;
				applicableRows.push(elem);
			}
			console.log(titlerow, applicableRows);
			return function() {
				console.log("titlerow clicked!", titlerow);
				for (var i = 0; i < applicableRows.length; i++) {
					applicableRows[i].classList.toggle("visible");
				}
			};
		})(titlerow));
	}
	var collapsees = document.querySelectorAll("table.grouped tbody tr.datarow");
})();
</script>
{% endblock %}
