<div class="modal" role="dialog" ng-controller="LoginCtrl">
  <form role="form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Log in to CinePoS</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="loginDialogUsername">Username</label>
            <input type="text" class="form-control" id="loginDialogUsername" placeholder="Username..." ng-model="credentials.username">
          </div>
          <div class="form-group">
            <label for="loginDialogPassword">Password</label>
            <input type="password" class="form-control" id="loginDialogPassword" placeholder="Password..." ng-model="credentials.password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" ng-click="login(credentials)">Login</button>
        </div>
      </div>
    </div>
  </form>
</div>