<div class="main-viewport">
  <div class="events-col side-col">
    <h2>Events</h2>
    <ul class="event-list inverse-selected">
      <li ng-repeat="event in configuration.events" class="event event-flat" ng-class="{'selected': event.id==currentEvent.id}" ng-click="selectEvent(event)"><strong>{{ event.name }}</strong> ({{ event.start_time|date:'HH:mm' }})</li>
    </ul>
  </div>
  <div class="tickets-col main-col">
    <h2>Tickets</h2>
    <ul class="ticket-list">
      <li ng-repeat="ticketType in tickets" class="ticket" ng-class="{'allowed-true': ticketType.allowed===true, 'allowed-false': ticketType.allowed===false}" ng-click="selectTicket(ticketType)">
        <h3>{{ ticketType.name }}</h3>
        <strong>{{ ticketType.sale_price }}</strong>
      </li>
    </ul>
  </div>
  <div class="cart-col side-col">
    <h2>Cart ({{ totalCartValue(cart)|currency:'£' }})</h2>
    <ul class="ticket-flat-list">
      <li ng-repeat="ticketType in cart track by $index" class="ticket">
        <button type="button" class="close remove-ticket" ng-click="removeTicket($index)"><span aria-hidden="true">&times;</span></button>
        <strong>{{ ticketType.name }}</strong> ({{ ticketType.sale_price|currency:'£' }})
      </li>
    </ul>
    <div class="cart-btns">
      <button class="btn btn-lg btn-danger" ng-click="noSale(cart)">No Sale</button>
      <button class="btn btn-lg btn-primary" ng-disabled="!cart.length" ng-click="checkout(cart)">Checkout</button>
    </div>
  </div>
</div>