<div class="field search-field">
	<input type="search" class="search-input xxwide text input" ng-model="searchQuery" placeholder="Search" ng-change="search(searchQuery)">
</div>
<h2>Ticketed Events</h2>
Showing <strong>{{ data.startAt }}</strong>-<strong>{{ data.endAt }}</strong> of <strong>{{ data.count }}</strong>
<div style="height: 36px; margin-bottom: 20px">
	<div class="medium btn icon-left entypo icon-arrow-left" ng-class="buttonClass(data.previous)">
		<a href ng-click="goTo(data.previous)">Prev</a>
	</div>
	<div class="medium btn icon-right entypo icon-arrow-right" style="float: right;" ng-class="buttonClass(data.next)">
		<a href ng-click="goTo(data.next)">Next</a>
	</div>
</div>
<table class="striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Time</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="event in data.results">
			<td><a href="{{ eventUrl(event) }}">{{ event.name }}</a></td>
			<td>{{ event.start_time | date:'MMM d (EEE)' }}</td>
			<td>{{ event.start_time | date:'H:mm:ss' }}</td>
		</tr>
	</tbody>
</table>
<div style="height: 36px; margin-bottom: 20px">
	<div class="medium btn icon-left entypo icon-arrow-left" ng-class="buttonClass(data.previous)">
		<a href ng-click="goTo(data.previous)">Prev</a>
	</div>
	<div class="medium btn icon-right entypo icon-arrow-right" style="float: right;" ng-class="buttonClass(data.next)">
		<a href ng-click="goTo(data.next)">Next</a>
	</div>
</div>
