$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.busy-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.4);
}

.event-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .event {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 13px 20px;
    margin-bottom: 20px;

    &.selected {
      opacity: 0.5;
    }

    strong {
      display: block;
    }

    &.event-flat strong {
      display: inline;
    }
  }
}
.event-list.inverse-selected {
  .event {
    opacity: 0.5;
    &.selected {
      opacity: 1;
    }
  }
}

.ticket-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-end;

  .ticket {
    background-color: rgba(0, 0, 255, 0.3);
    border: 1px solid rgba(0, 0, 255, 0.35);
    border-radius: 10px;
    padding: 5px 12px;
    margin: 10px;
    width: 45%;
    min-height: 220px;

    > h3 {
      font-weight: bold;
      font-size: 1.5em;
    }
    > strong {
      font-size: 1.2em;
    }
    > strong:before {
      content: '£';
      display: inline-block;
    }

    &.allowed-true {
      background-color: rgba(0, 255, 0, 0.3);
      border: 1px solid rgba(0, 255, 0, 0.35);
    }
    &.allowed-false {
      background-color: rgba(255, 0, 0, 0.3);
      border: 1px solid rgba(255, 0, 0, 0.35);
    }
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-size: x-large;
}
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}


$header-height: 2.7em;
$footer-height: 2.7em;
$side-margin: 0.7em;

.header, .footer, .viewport {
  position: absolute;
  width: 100%;
  left: 0;
  padding-left: $side-margin;
  padding-right: $side-margin;
}
.header, .footer {
  overflow: hidden;
}
.header {
  top: 0;
  background-color: #0d2443;
  color: white;
  height: $header-height;
  line-height: $header-height;
}
.footer {
  bottom: 0;
  background-color: #294158;
  color: white;
  height: $footer-height;
  line-height: $footer-height;
}
.viewport {
  top: 0;
  bottom: 0;
  margin-top: $header-height;
  margin-bottom: $footer-height;
  padding: 0;
}

.setup-form {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;

  > .events-selector {
    flex-grow: 1;
    
    display: flex;
    > div {
      flex: 1;
      overflow: auto;
    }
  }
  .form-header, .form-footer {
    min-height: min-content;
  }

}

.side-col {
  background-color: #dddddd;
}
.main-viewport {
  width: 100%;
  height: 100%;
  > div {
    float: left;
    padding: 0 20px;
    height: 100%;
  }
}
.side-col {
  width: 25%;
}
.main-col {
  width: 50%;
}
.cart-col {
  padding-bottom: 3em;
  position: relative;
  .cart-btns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
    line-height: 3em;
    text-align: center;
  }
}

.footer {
  display: flex;
  .footer-form, .footer-customer {
    flex: 1;
  }
  .footer-textbox {
    width: 100%;
    text-align: right;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    &:focus {
      outline: none;
    }
  }
}

button.remove-ticket {
  padding: 6px 10px;
  border: 1px solid rgb(60, 60, 60);
  background-color: rgba(255, 0, 0, 0.3);
}

.ticket-flat-list .ticket {
  margin-bottom: 1.2em;
}
